
* {
    margin: 0;
}

#home {
    background-image: url(../images/playful-kitten-6683.jpg);
}

#about {
    background-image: url(../images/kitten-flying.jpg);
}

article {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.page2 {
    position: relative;
    top: 130px;
    left: 400px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.title {
    position: fixed;
    top: 1px;
    top: 0;
    left: 0;
}

.colour {
    color: #efa214;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 2px #423929;
}

.colour3 {
    font-size: 40px;
    position: relative;
    margin-left: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

h1 {
    font-size: 60px;
    position: relative;
    margin-left: 30px;
    font-family: 'Montserrat', sans-serif;
}

.spin {
    margin-top: 20px;
    position: relative;
    top: 7px;
}

nav {
    position: absolute;
    top: 670px;
    left: 900px;
    color: #efa214;
    width: auto;
}

nav>a {
    color: #efa214;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

nav>a:first-child {
    margin-right: 30px;
}

nav>a:nth-child(2) {
    margin-right: 30px;
}

nav>a:nth-child(3) {
    margin-right: 30px;
}

nav>a:nth-child(3) {
    margin-right: 30px;
}

/* netflex flip*/
.spin:hover {
    animation: spin 0.8s linear;
}
@keyframes spin {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
    0% { transform: rotateY(0deg); }
}

@keyframes spin {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
    0% { transform: rotateY(0deg); }
}
/* netflex flip */